.main-content {
  padding-left: 18rem;
  transition: all 0.4s ease-in-out;
}

nav.is-compact + .main-content {
  padding-left: 5.5rem;
}

nav.is-compact:hover {
  width: 18rem;
  // transition: all 0.4s ease-in-out;
}
